<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TimerSequence" value="3x(W:25, B:5); 1x(W:25, B:35);"/>
    <add key="WorkColors" value=""/>
    <add key="BreakColors" value=""/>
  </appSettings>
</configuration>