<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TimerSequence" value="3x(W:25, B:5); W:25, B:35"/>
    <add key="WorkColors" value="rgba(255, 0, 0, 178), rgba(255, 255, 0, 178), rgba(0, 255, 0, 178)"/>
    <add key="BreakColors" value="rgba(255, 0, 229, 178), rgba(127, 255, 255, 178), rgba(232, 232, 232, 178)"/>
    <add key="OutlineWidth" value="5"/>
  </appSettings>
</configuration>